.fetch-url-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: 16px;
    background-color: #272727;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: #3f3f3f;
        transition: background-color 0.3s;
    }
}

.button-ytR {
    width: 5em;
    height: 3em;
    border-radius: 8px;
    padding: 10px 20px;
}

.button-ytW {
    width: 7em;
    height: 36px;
    border-radius: 50px;
    padding: 0px;
}